{# {% extends 'base.html.twig' %}

{% block title %}Edit Tricks{% endblock %}

{% block body %}
    <h1>Edit Tricks</h1>

    {{ include('tricks/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('tricks_index') }}">back to list</a>

    {{ include('tricks/_delete_form.html.twig') }}
{% endblock %} #}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>SnowTricks</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="../../css/styles.css" rel="stylesheet" />
    <link href="../../css/standard.css" rel="stylesheet" />
</head>
    <body id="page-top">
        {% block navbar %}
            {% include "navbar.html.twig" %}
        {% endblock %}
        <!-- Masthead-->
        {{ form_start(form) }}
        <header>
            <div class="container-show">
                {% set break = false %}
                {% for key,value in trick.media %}
                    {% if break == false %}
                        {% if 'image' in value %}
                            <img class="main-img-show" src="{{ asset('upload/' ~ trick.media[0])}}" class="card-img-top" alt="...">
                        {% else %}
                            <img class="main-img-show" src="{{ asset('assets/img/frontflip.jpg')}}" class="card-img-top" alt="...">
                        {% endif %}
                    {% endif %}
                    {% set break = true %}
                {% endfor %}
                <div>
                    <div class="icon-show text-switch">
                        <a href="" style="margin-left:1em;color:white;"><i class="fas fa-trash-alt"></i></a>
                        <a href="" style="margin-right:1em;margin-left:1em;color:white;"><i class="fas fa-pencil-alt"></i></a>
                    </div>
                    <div class="centered-show">
                        <h1 class="mx-auto my-0 text-uppercase text-switch">{{ trick.name }}</h1>
                    </div>
                </div>
            </div>
        </header>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Remplacer un media</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{ form_row(form.media) }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-->
        <section class=" mt-5" id="tricks">
            <div class="container px-4 px-lg-5">
                <div style="overflow: auto !important">
                    <div class="row-show mb-4 mb-lg-5 align-items-center horizontal-scrollable">
                        {% for key,value in trick.media %}
                            <div class="col-sm-12 col-md-2 col-xl-2 mr-2 mycol">
                                <div class="card" style="width:12rem;border:none;">
                                    <div style="margin-right:1em;">
                                        {% if 'image' in value %}
                                            <img class="card-img-top" src="{{ asset('upload/' ~ value)}}" class="card-img-top" alt="..." style="width:11.9em;height:8em;">
                                        {% elseif 'video' in value %}
                                            <video controls class="card-img-top" style="width:11.9em;height:9.3em;padding:0em;margin-top:2em !important;"><source src="{{ asset('upload/' ~ value)}}"></video>
                                        {% endif %}
                                    </div>
                                    <div class="icon-show text-switch">
                                        <a href="" style="margin-left:1em;color:white;"><i class="fas fa-trash-alt"></i></a>
                                        <a href="" id="edit-media-btn" data-bs-toggle="modal" data-bs-target="#exampleModal" style="margin-right:1em;margin-left:1em;color:white;"><i class="fas fa-pencil-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                            {# {% set testclick = false %}
                            {% if testclick == false %} #}
                                {# {% set currentMedia = value %} #}
                                <input type="text" id="currentName" value="{{value}}">
                                {# {{ form_row(form.mediaName,{value: value }) }} #}
                            {# {% endif %} #}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center form-edit">
            <h2 class="mb-4 mt-1" style="font-family:Varela Round;">Modification d'un trick</h2>
            
                <div class="row mb-3" style="padding-left:5em;padding-right:5em;">
                    <div class="col-sm-6 col-md-6 col-xl-6">
                        {{ form_row(form.name) }}
                    </div>
                </div>
                <div class="row" style="padding-left:5em;padding-right:5em;">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        {{ form_row(form.description) }}
                    </div>
                </div>
                <div class="row" style="padding-left:5em;padding-right:5em;">
                    <div class="col-sm-4 col-md-4 col-xl-4">
                        {{ form_row(form.category) }}
                    </div>
                </div>
                {# <div class="row mt-3 mb-5" style="padding-left:5em;padding-right:5em;">
                    <div class="col-sm-12 col-md-12 col-xl-12">
                        {{ form_row(form.media) }}
                    </div>
                </div> #}
                <div class="row mt-5" style="padding-left:5em;padding-right:5em;">
                    <div class="offset-sm-6 offset-xl-6 offset-md-6 col-sm-3 col-md-3 col-xl-3">
                        {{ form_row(form.valider) }}
                    </div>
                    <div class="col-sm-2 col-md-2 col-xl-2">
                        <form method="post" action="{{ path('tricks_delete', {'id': trick.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            {{ form_end(form) }}
        </section>

        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Your Website 2021</div></footer>
        <!-- Bootstrap core JS-->
        <script>
        {# $( "#edit-media-btn" ).click(function() {
            {% set testclick = true %}
        }); #}
        $('#edit-media-btn').click(function(){
            var formData = $('#currentName').val();
            $.ajax({
                    url: "{{ path('tricks_edit', {'id': trick.id}) }}",
                    type: 'POST',
                    data: formData, 
                    success: function(){
                        console.log(formData);
                    },
                    error: function(){
                    console.log('Ajax crashed');
                    }
                });  
        })
             
        </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>


