<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>SnowTricks</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
    <link href="../css/styles.css" rel="stylesheet" />
    <link href="../css/standard.css" rel="stylesheet" />
</head>
    <body id="page-top">
    <script>
        $( document ).ready(function() {
            if(window.matchMedia("(max-width: 450px)").matches){
                $(".container-show").css("margin-top","0em");
                $(".link-add").html('<i class="fas fa-2x fa-pen-square"></i>')
                $(".link-logout").html('<i class="fas fa-2x fa-door-open"></i>')
                $(".link-login").html('<i class="fas fa-2x fa-sign-out-alt"></i>')
                $(".link-register").html('<i class="fas fa-2x fa-user-check"></i>')
                $(".link-home").html('<i class="fas fa-2x fa-home"></i>')
                $(".remove-title-nav" ).addClass( "d-none" );
                $(".navbar" ).removeClass( "fixed-top" );
                $(".navbar" ).addClass( "fixed-bottom" );
                $(".section-show-1").removeAttr("style");
                $(".section-show-2").removeAttr("style");
                $(".section-show-3").removeAttr("style");
                $(".row-show").removeAttr("style");
                $(".row-show").css("border-bottom","2px solid black");
                $(".icon-show").css("left","85%");
                $(".row-card" ).addClass( "d-none" );
                $(".btn-media" ).removeClass( "d-none" );
                $(".row-media" ).removeClass( "d-none" );
                $(".row-comment" ).removeClass( "row" );
                $(".row-comment" ).addClass( "row-spe" );
                $(".form-comment" ).addClass( "row-more-comment" );
                $(".form-comment" ).removeClass( "row" );
                $(".row-more-comment").css("margin-left","5em");
                $(".form-comment").removeAttr("style");
            } else if(window.matchMedia("(max-width: 800px)").matches){
                $(".container-show").css("margin-top","0em");
                $(".link-add").html('<i class="fas fa-2x fa-pen-square"></i>')
                $(".link-logout").html('<i class="fas fa-2x fa-door-open"></i>')
                $(".link-login").html('<i class="fas fa-2x fa-sign-out-alt"></i>')
                $(".link-register").html('<i class="fas fa-2x fa-user-check"></i>')
                $(".link-home").html('<i class="fas fa-2x fa-home"></i>')
                $(".remove-title-nav" ).addClass( "d-none" );
                $(".row-nav").css("margin-left","16em");
                $(".navbar" ).removeClass( "fixed-top" );
                $(".navbar" ).addClass( "fixed-bottom" );
                $(".section-show-1").removeAttr("style");
                $(".section-show-2").removeAttr("style");
                $(".section-show-3").removeAttr("style");
                $(".row-show").removeAttr("style");
                $(".row-show").css("border-bottom","2px solid black");
                $(".icon-show").css("left","85%");
                $(".row-card" ).addClass( "d-none" );
                $(".btn-media" ).removeClass( "d-none" );
                $(".row-media" ).removeClass( "d-none" );
                $(".row-comment" ).removeClass( "row" );
                $(".row-comment" ).addClass( "row-spe" );
                $(".form-comment" ).addClass( "row-more-comment" );
                $(".form-comment" ).removeClass( "row" );
                $(".row-more-comment").css("margin-left","5em");
                $(".form-comment").removeAttr("style");
                $(".col-input-form" ).addClass( "offset-2" );
                $(".col-button-form" ).addClass( "offset-4" );
                $(".row-media").css("margin-left","5em");
                
            }
        });
    </script>
        {% block navbar %}
            {% include "navbar.html.twig" %}
        {% endblock %}
        <!-- Masthead-->
            <div class="container-show">
                {# {% set break = false %}
                {% for key,value in trick.media %} #}
                    {# {% if break == false %} #}
                        {% if trick.mainImage != null %}
                            <img class="main-img-show" src="{{ asset('upload/' ~ trick.mainImage[0])}}" class="card-img-top" alt="..." style="object-fit:cover;">
                        {% else %}
                            <img class="main-img-show" src="../../public/assets/img/frontflip.jpg" class="card-img-top" alt="..." style="object-fit:cover;">
                        {% endif %}
                    {# {% endif %}
                    {% set break = true %}
                {% endfor %} #}
                <div> 
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <div class="row icon-show text-switch">
                            <div class="col-sm-8 col-xl-5 col-md-5">
                                <form method="post" style="max-width:1em;" action="{{ path('tricks_delete', {'id': trick.id}) }}" onsubmit="return confirm('Le trick va être supprimé');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}"/>
                                    <button class="btn-del-2" style="margin-left:1em;"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                            <div class="col-sm-3 col-xl-3 col-md-3 ">
                                <a href="{{ path('tricks_edit', {slug: trick.slug}) }}" style="margin-right:1em;margin-left:1em;color:white;"><i class="fas fa-pencil-alt"></i></a>
                            </div>
                        </div>
                    {% endif %}
                    <div class="centered-show">
                        <h1 class="mx-auto my-0 text-uppercase text-switch">{{ trick.name }}</h1>
                    </div>
                </div>
            </div>
        
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width:650px !important;max-width:none !important;">
                <div class="modal-content">
                    <div class="modal-body">
                        <img class="card-img-top inModal" src="" class="card-img-top" alt="..." style="width:100%">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ok</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-->
        <section class=" mt-5" id="tricks">
            <div class="container px-4 px-lg-5">
                    <div style="overflow: auto !important">
                    <div class="row-spe row-media d-none mb-5">
                        <div class="offset-3 col-6">
                            <button class="btn-media btn btn-primary d-none">Voir les médias</button>
                        </div>
                    </div>
                    <div class="row-show row-card mb-4 mb-lg-5 align-items-center horizontal-scrollable">
                        {% for key,value in trick.media %}
                            <div class="col-sm-12 col-md-4 col-xl-2 mr-2 mycol">
                                <div class="card" style="width:12rem;border:none;">
                                    <div style="margin-right:1em;">
                                        {% if 'image' in value %}
                                            <a href="" class="a-img" id="0" data-bs-toggle="modal" data-bs-target="#exampleModal" data-img="{{ value }}">
                                                <img class="card-img-top" src="{{ asset('upload/' ~ value)}}" class="card-img-top" alt="..." style="width:11.9em;height:8em;">
                                            </a>
                                        {% elseif 'video' in value %}
                                            <video controls class="card-img-top" style="width:11.9em;height:9.3em;padding:0em;margin-top:2em !important;"><source src="{{ asset('upload/' ~ value)}}"></video>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {{ trick.embedsingle|raw }}
                    </div>
                </div>
            </div>
        </section>
        <section class="text-center mt-5" id="tricks">
            <div class="container des-show px-4 px-lg-5">
                <div class="text-center">
                    <h5>{{ trick.description }}</h5>
                </div>
            </div>
        </section>
        
        <section class="text-center mt-5 section-show-1" style="padding-left:20em;padding-right:20em;">
        {# {% endif %} #}
            <div class="row-spe" style="border-bottom: 2px solid black">
                <div class="col-md-4 col-sm-4 col-xl-4">
                    <h6 class="btn ">Date de création: {{ trick.creationDate ? trick.creationDate|date('d-m-Y H:i:s') : '' }}</h6>
                </div>
                <div class="col-md-4 col-sm-4 col-xl-4">
                    <h6 class="btn ">Categorie: {{ trick.category }}</h6>
                </div>
                {% if trick.updateDate != null %} 
                    <div class="col-md-4 col-sm-4 col-xl-4">
                        <h6 class="btn ">Modifié le: {{ trick.updateDate ? trick.updateDate|date('d-m-Y H:i:s') : '' }}</h6>
                    </div>
                {% endif %}
            </div>
        </section>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        
            <section class="text-center mt-3 section-show-2" style="padding-left:20em;padding-right:20em;">
        {# {% endif %} #}
            
                {{ form_start(commentForm) }}
                
                    <div class="row form-comment" style="border-bottom: 2px solid black;padding-left:10em;padding-right:20em;">
                {# {% endif %} #}
                    
                        <div class="col-sm-8 col-md-8 col-xl-8 col-input-form">
                            {{ form_row(commentForm.content) }}
                            {# {{ form_row(commentForm.author) }} #}
                            {# {{ app.user.username }} #}
                            {{ form_widget(commentForm.author, {'attr': {'value': app.user.username}}) }}
                        </div>
                        <div class="col-sm-2 col-md-4 col-xl-2 mt-4 mb-5 col-button-form">
                            {{ form_row(commentForm.envoyer) }}
                        </div>
                    </div>
                {{ form_end(commentForm) }}
            </section>
        {% endif %}
        
            <section class="text-center mt-5 grid section-show-3" style="padding-left:20em;padding-right:20em;">
        
        
            {% set commentVar = false %}
            {% for comment in trick.comments %}
                {% if loop.index is divisible by(5) %}
                    {% set commentVar = true  %}
                {% endif %}
                <div class="row-more row-more-comment d-none mb-5" style="margin-left:5em;">
                    <div class="row row-comment">
                        <div class="col-md-4 col-sm-3 col-xl-4 mt-0">
                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="be-ava-comment">
                            <p>{{comment.author}}</p>
                        </div>
                        <div class="col-md-5 col-sm-8 col-xl-8" style="margin-top:0em;">
                            <p style="text-align:left;">{{ comment.creationDate ? comment.creationDate|date('d-m-Y H:i:s') : '' }}</p>
                            <div class="container px-4 px-lg-5" style="background-color: rgb(245, 245, 245);border-radius: 0.2em;">
                                <h5>{{ comment.content }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if commentVar == true %}
                <button class="btn btn-primary ajax-load-more mb-5">Charger plus</button>
            {% endif %}
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container px-4 px-lg-5">Copyright &copy; Your Website 2021</div></footer>
        <!-- Bootstrap core JS-->
        <script>
            $( document ).ready(function() {
                {# $( ".a-img" ).each(function( index ) {
                    let testId = $(this).attr('id');
                    if(testId == 0){
                        $(this).attr('id', index);
                    } else {
                        console.log("cassé:", index);
                    }
                });
                $( ".modal" ).each(function( index ) {
                    let testId = $(this).attr('id');
                    if(testId == 0){
                        $(this).attr('id', index);
                    } else {
                        console.log("cassé:", index);
                    }
                }); #}
                moreComment = 10;
                $(".row-more:lt("+moreComment+")" ).removeClass( "d-none" );
                $(".ajax-load-more").click(function(){
                    moreComment= moreComment + 10
                    $(".row-more:lt("+moreComment+")" ).removeClass( "d-none" );
                });
            });
            $(".a-img").click(function(){
                console.log("yep");
                let valImg = $(this).attr('data-img');
                $(".inModal").attr('src','/P6ElouanPeurou/P6ElouanPeurou/public/upload/'+ valImg);
            });

            $(".btn-media").click(function(){
                $(".row-card" ).removeClass( "d-none" );
                $(".row-media" ).addClass( "d-none" );
            });
        </script>        
    </body>
</html>

